*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --cor_clara: rgb(49, 10, 190);
    --cor_escura: rgb(29, 8, 107);
    --cor_secundaria: rgb(36, 36, 36); 
    --cor_tercearia: rgb(255, 255, 255);
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(var(--cor_clara),var(--cor_secundaria));
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
    min-height: 700px;
}
.login{
    background-color: var(--cor_tercearia);
    width:  260px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
input{
    display: inline-block;
    width: 250px;
    height: 35px;
    border: var(--cor_tercearia) solid 1px;
    border-bottom: 1px var(--cor_clara) solid;
    margin-bottom: 30px;
    font-size: 16px;
    align-items: center;
    transition: width 0.5s;
}
label{
    color: var(--cor_clara) ;
    margin-bottom: 30px;
}
.enviar{
    width: 210px;
    height: 40px;
    background-color: var(--cor_clara);
    border: var(--cor_clara);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    margin-top: 50px;
}
.enviar:hover{
    background-color: var(--cor_escura);
    outline: auto;
}
input:focus-visible{
    outline: none;
    /* display: block;
    width: 200px;
    height: 35px;
    border: white solid 1px;
    border-bottom: 1px var(--cor_clara) solid;
    margin-bottom: 30px;
    font-size: 16px;
    border: none;  white solid 1px; */
}
input:focus{
    display: block;
    width: 265px;
    height: 35px;
    border-bottom: 1px var(--cor_clara) solid;
    margin-bottom: 30px;
    font-size: 16px;
}
.informacao{
    color: red;
    background-color: rgb(255, 151, 151);
}
