a{
    text-decoration: none;
    justify-content: center;
    color: inherit;
    color: white;
}
li:hover{
    background-color: rgb(46, 8, 29)
}
.item-lista{
    
    text-transform: uppercase;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.726);
    font-size: 20px;
    
}

ul{
    left: 100%;
    width: 100%;
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}
.cabecalho{
    display: flex;
    align-items: center;
    max-width: auto;
    min-width: 230px;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 50px;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(77, 39, 60);
    left: 100%;
    width: 100%;
    background-size: 100%;
    background-image: url(Papel\ de\ Parede\ da\ coruja\ Pai.jpeg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}
.btn {
    color: white;
    background-color: rgb(46, 8, 29);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}
*, ::after, ::before {
    box-sizing:inherit;
}

button {
    
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    margin-bottom: 5px;
    width: 320px;
}
.materiais{
    margin-left: 30px;
}
header {
    width: 100%;
    height: 75px;
    background-color: rgb(68,11,43);;
    box-shadow: 5px 20px 20px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    padding-right: 10px;
}

li {
    display: flex;
    color: white;
    line-height: 75px;
    padding-right: 10px;
    padding-left: 20px;
}
nav{
    left: auto;
    width: auto;
}

main {
    height: 1000px;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(77, 39, 60);
    box-shadow: 5px 20px 20px 1px rgba(0, 0, 0, 0.3);
    padding-right: 10px;
    
} 
#bnt_inico1{
    margin-left: 20px; ;
}
#bnt_inico2{
    margin-left: 20px; 
}
#h2_inico{
    margin-left: 20px;
    margin-bottom: 30px;
    color: white;
    font-weight: none;
}